// ## Layout
// - Mobile: 375px
// - Desktop: 1440px

// Colors

// Primary

$Light-red: hsla(0, 100%, 67%, 0.12);
$Orangey-yellow: hsla(39, 100%, 56%, 0.12);
$Green-teal: hsla(166, 100%, 37%, 0.12);
$Cobalt-blue: hsla(234, 85%, 45%, 0.12);

// Gradients

$background-light-slate-blue: hsl(252, 100%, 67%);
$background-light-royal-blue: hsl(241, 81%, 54%);

$circle-violet-blue: hsla(256, 72%, 46%, 1);
$circle-persian-blue: hsla(241, 72%, 46%, 0);



// Neutral

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

// Notes

//Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

// Typography

// Body Copy

$Paragraphs-size: 18px;

// Font

// *****$Family-Hanken-Grotesk: (https://fonts.google.com/specimen/Hanken+Grotesk);

$Weights: 500, 700, 800;